/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Mar, 2016, 4:23:20 PM
    Author     : rtcamp-dev
*/

img {
	max-width: 100%;
	vertical-align: middle;
	float: right;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.site-content {
	display: block;
	font-size: 1.4em;
	line-height: 1.55em;
	margin-bottom: 22px;
	color: #555;
}

.entry-content .setting {
	display: block;
	font-weight: normal;
	padding: 7px 3px;
	border-top: 1px solid #d6d1af;
	margin-bottom: 5px;
	float: left; 
	width: 250px;
	font-weight: bold;

}
